body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/240/original/kaushik-panchal-0juC5JIhPks-unsplash.jpg?1685792444");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.header {
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
}
h1 {
  color: rgb(33, 33, 33);
  font-size: 40px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 10px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
.forcast-weather {
  text-align: center;
}
.date-forcast {
  font-size: 16px;
  color: rgb(33, 33, 33);
  opacity: 0.8;
}
.min-temp {
  font-size: 16px;
  color: rgb(33, 33, 33);
  opacity: 0.8;
}
.firstCol {
  margin-top: 10px;
}
.weather {
  margin: 20px auto;
  max-width: 600px;
}
.weatherIcon {
  justify-content: flex-end;
  display: inline;
  padding: 0px;
}
.li img {
  margin: 1px 1px 1px 1px;
  width: 90px;
}
.search-form {
  border-bottom: 1px solid rgb(104, 104, 104);
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.about {
  border-bottom: 1px solid rgb(104, 104, 104);
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.container {
  background: rgba(243, 225, 205, 0.836);
  width: 600px;
  color: rgb(33, 33, 33);
  padding: 0px auto;
  margin-top: 30px;
  margin-bottom: 0px;
  border: 2px solid rgba(4, 0, 0, 0.4);
  border-radius: 12px;
}

.search-city {
  width: 295px;
  display: inline;
  margin-top: 12px;
  margin-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #495057;
  border-radius: 8px;
  box-shadow: 3px 3px 3px lightgray;
}
.submit-city {
  display: inline-block;
  width: 90px;
  margin-top: 12px;
  margin-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightblue;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 3px lightgray;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 1.5;
}
.cuurentLoc {
  display: inline;
  width: 90px;
  margin-top: 12px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5.5px;
  background-color: lightblue;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 3px lightgray;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.forcast-button {
  display: block;
  margin: 0px auto;
  padding-top: 5px;
  padding-bottom: 5.5px;
  background-color: lightblue;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 3px lightgray;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 1.5;
}
.textCode {
  text-align: center;
  background: rgba(243, 225, 205, 0.836);
  border: 1px transparent rgba(4, 0, 0, 0.4);
  border-radius: 4px;
  display: block;
  width: 250px;
  margin-left: 38%;
  margin-top: 20px;
}
